parameters:
	level: 2
	paths:
		- src
	treatPhpDocTypesAsCertain: false
	universalObjectCratesClasses:
		- FFI
		- FFI\CData
	ignoreErrors:
		-
			identifier: class.notFound
			path: src/HtmlShot/Composer/Installer.php